:root {
    --vfl-y-padding: 12px;
    --vfl-x-padding: 16px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #213547;
    background-color: #ffffff;
    background-color: #FFF;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
body >*:not(#app) {
    width: 960px
}
body,
body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
body > * {
    width: 400px;
}
.float-label {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.float-label__label {
    /* border: 1px solid transparent; */
}
.float-label input[type=text], .float-label textarea, .float-label select {
    padding: var(--vfl-y-padding) var(--vfl-x-padding);
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

.float-label input[type=text]::placeholder, .float-label input[type=textarea]::placeholder, .float-label select::placeholder, .float-label label {
    position: absolute;
    top: var(--vfl-y-padding); left: var(--vfl-x-padding);
    display: block;
    line-height: 24px;
    font-weight: 400;
}
.float-label input::placeholder, .float-label textarea::placeholder {
    color: purple
}
.float-label label {
    transition: all .2s ease-out;
}
.float-label--fixed .float-label__label, .float-label--on-focus input:focus ~ .float-label__label {
    transform-origin: top left;
    transform: scale(.85) translateY(-15px);
    opacity: 1;
    pointer-events: none;
}